.bg_gray{background-color: rgb(218, 217, 216);
}
.red{
    color: red;
}
.left{
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    text-overflow: inherit;
    overflow: inherit;
    color: gray;
}

.small{
    
    text-align: left;
    font-size: 11px;
    line-height: 20px;
    text-overflow: ellipsis ;
    overflow: inherit;
    color: rgb(68, 67, 67);
}