<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button" (click)="goPageHome()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="ios-leaf"></ion-icon> My Stocks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Saldo Atual </ion-card-title>
      <ion-card-subtitle>podem existir ordens de compra ou venda em processamento</ion-card-subtitle>

    </ion-card-header>


    <ion-card-content>
      <ion-item>
        <h2 class="subtitulo"><span class="subtitulosbold"> Nome: </span>{{nome_cliente}}</h2>
      </ion-item>
      <ion-item>
        <h2 class="subtitulo"><span class="subtitulosbold">Saldo:
          </span>{{saldo_cliente| currency:"BRL":"symbol":"1.2"}}</h2>
      </ion-item>


    </ion-card-content>

  </ion-card>




  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Minhas Ações </ion-card-title>
      <ion-card-subtitle>Açoes já processadas que você possui.</ion-card-subtitle>

    </ion-card-header>


    <ion-card-content>

      <div class="red" *ngIf="!acao">Você não possui ações ainda</div>



    </ion-card-content>

  </ion-card>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Ordens de Compra </ion-card-title>
      <ion-card-subtitle>Ordens de compra em aberto.</ion-card-subtitle>

    </ion-card-header>


    <ion-card-content>

      <div *ngIf="!acao">Você não possui ações ainda</div>

      <ion-list>
        <ion-item>

          <ion-grid class="left bg_gray">
            <ion-row>
              <ion-col size="4" >Ação </ion-col>
              <ion-col>Preço</ion-col>
              <ion-col>Quantidade</ion-col>
              <ion-col>Subtotal</ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item *ngIf="o_acao">

          <ion-grid>
            <ion-row>
              <ion-col size="4" class="small">{{ o_acao }}</ion-col>
              <ion-col class="small">{{o_preco| currency:"BRL":"symbol":"1.2"}}</ion-col>
              <ion-col class="small">{{o_quant}}</ion-col>
              <ion-col class="small">{{o_total| currency:"BRL":"symbol":"1.2"}}</ion-col>

            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>



    </ion-card-content>

  </ion-card>


  <br><br>
</ion-content>