<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button" (click)="goPageHome()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="ios-leaf"></ion-icon> Stock Detail
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="card">
    <ion-card-header>
      <ion-card-title>Saldo Atual </ion-card-title>
      <ion-card-subtitle>podem existir ordens de compra ou venda em processamento</ion-card-subtitle>

    </ion-card-header>


    <ion-card-content>
      <ion-item>
        <h2 class="subtitulo"><span class="subtitulosbold"> Nome: </span>{{nome_cliente}}</h2>
      </ion-item>
      <ion-item>
        <h2 class="subtitulo"><span class="subtitulosbold">Saldo:
          </span>{{saldo_cliente| currency:"BRL":"symbol":"1.2"}}</h2>
      </ion-item>


    </ion-card-content>

  </ion-card>




  <form [formGroup]="ordemCompraForm">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>Ordem de Compra </ion-card-title>
        <ion-card-subtitle>preencha a quantidade de ações que deseja comprar.</ion-card-subtitle>

      </ion-card-header>


      <ion-card-content>
        <ion-item>
          <h2 class="subtitulo"><span class="subtitulosbold"> Ação: </span>{{acao}}</h2>
        </ion-item>
        <ion-item>
          <h2 class="subtitulo"><span class="subtitulosbold">Preco: </span>{{preco| currency:"BRL":"symbol":"1.2"}}</h2>
        </ion-item>

        <ion-item>
          <ion-label position="floating" class="grey">quantidade:</ion-label>
          <ion-input class="ion-padding" type="number" formControlName="quantf" (focusout)="onBlur()"></ion-input>
        </ion-item>


        <ion-item *ngIf="total >0">
          <h2 class="subtitulo"><span class="subtitulosbold">Total: </span>{{total| currency:"BRL":"symbol":"1.2"}}</h2>
        </ion-item>

        <div class="red" *ngIf="(saldo_cliente - total) < 0">Você não possui saldo suficiente para esta ação</div>



      </ion-card-content>

    </ion-card>


    <ion-button expand="block" [disabled]="ordemCompraForm.invalid || total<1|| (saldo_cliente - total) < 0 || !total"
      class="ion-padding" color="tertiary" fill="outline" (click)="salvarOrdemCompra()">
      Finalizar
    </ion-button>
  </form>
  <br><br>
</ion-content>