

.subtitulosbold{
    
    font-size: 14px;
    line-height: 20px;
    text-overflow: inherit;
    overflow: inherit;
    font-weight: bold;

}
.left{
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    text-overflow: inherit;
    overflow: inherit;
    color: gray;
}

.right{
    text-align: right;
    font-size: 14px;
    line-height: 20px;
    text-overflow: inherit;
    overflow: inherit;
}