<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-icon name="ios-leaf"></ion-icon>
      Ações disponíveis para compra
    </ion-title>

  </ion-toolbar>
  <ion-toolbar color="secondary" *ngIf="nome_cliente">
    <ion-title class="subtitulos">Olá {{nome_cliente}}</ion-title>
    <ion-buttons slot="primary" (click)="goPageMyStocks()">
      <ion-button fill="outline">
        Minhas Ações
        <ion-icon slot="end" name="md-pricetags"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="setFilteredStock()" placeholder="Nome ou descrição da ação">
  </ion-searchbar>
  <ion-list>
    <ion-item>

      <ion-grid>
        <ion-row>
            <ion-col  size="9">Ação </ion-col>
            <ion-col size="3">Preço</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item *ngFor="let item of filterList" (click)="setStock(item.acao)">

      <ion-grid>
        <ion-row>
          <ion-col size="9"><span  class="subtitulosbold">{{ item.acao }}</span><br><span class="left"> {{ item.desc }}</span></ion-col>
          <ion-col size="3"><span class="right">{{item.preco| currency:"BRL":"symbol":"1.2"}}</span></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>